Importing Libraries

In [ ]:
import pandas as pd

When I observed data it is in Tab delimiter format ('\t') so, while loading the data, it also converted into comma delimited format for easier analysis. (using sep = "\t" function)

In [ ]:
raw_data = pd.read_csv(r"C:\Users\shant\OneDrive\Desktop\Intern\Customer Personality Analysis Data\marketing_campaign.csv", sep = "\t")

In [ ]:
raw_data.head()

     ID  Year_Birth   Education  ... Z_CostContact  Z_Revenue  Response
0  5524        1957  Graduation  ...             3         11         1
1  2174        1954  Graduation  ...             3         11         0
2  4141        1965  Graduation  ...             3         11         0
3  6182        1984  Graduation  ...             3         11         0
4  5324        1981         PhD  ...             3         11         0

[5 rows x 29 columns]

Checking for null values

In [ ]:
raw_data.isnull()

         ID  Year_Birth  Education  ...  Z_CostContact  Z_Revenue  Response
0     False       False      False  ...          False      False     False
1     False       False      False  ...          False      False     False
2     False       False      False  ...          False      False     False
3     False       False      False  ...          False      False     False
4     False       False      False  ...          False      False     False
...     ...         ...        ...  ...            ...        ...       ...
2235  False       False      False  ...          False      False     False
2236  False       False      False  ...          False      False     False
2237  False       False      False  ...          False      False     False
2238  False       False      False  ...          False      False     False
2239  False       False      False  ...          False      False     False

[2240 rows x 29 columns]

In [ ]:
print(type(raw_data))

In [ ]:
null_counts = raw_data.isnull().sum()
null_columns = null_counts[null_counts > 0]

print(null_columns)

Income    24
dtype: int64

Filling or handling NUll values

In [ ]:
raw_data['Income'] = raw_data['Income'].fillna(raw_data['Income'].median())

In [ ]:
raw_data.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
print(raw_data.shape)

(2240, 29)

Checking and droping duplicate rows

In [ ]:
print("Duplicate rows before:", raw_data.duplicated().sum())
raw_data = raw_data.drop_duplicates()

Duplicate rows before: 0

tat

In [ ]:
raw_data['Education'] = raw_data['Education'].str.strip().str.lower()
raw_data['Marital_Status'] = raw_data['Marital_Status'].str.strip().str.lower()

In [ ]:
raw_data.head()

     ID  Year_Birth   Education  ... Z_CostContact  Z_Revenue  Response
0  5524        1957  graduation  ...             3         11         1
1  2174        1954  graduation  ...             3         11         0
2  4141        1965  graduation  ...             3         11         0
3  6182        1984  graduation  ...             3         11         0
4  5324        1981         phd  ...             3         11         0

[5 rows x 29 columns]

Converting to Standard date format

In [ ]:
raw_data['Dt_Customer'] = pd.to_datetime(raw_data['Dt_Customer'], dayfirst=True)

In [ ]:
raw_data.head()

     ID  Year_Birth   Education  ... Z_CostContact  Z_Revenue  Response
0  5524        1957  graduation  ...             3         11         1
1  2174        1954  graduation  ...             3         11         0
2  4141        1965  graduation  ...             3         11         0
3  6182        1984  graduation  ...             3         11         0
4  5324        1981         phd  ...             3         11         0

[5 rows x 29 columns]

Converting names of columns in lower case for easier analysis

In [ ]:
raw_data.columns = raw_data.columns.str.strip().str.lower().str.replace(" ", "_")

Checking and fixing datatypes

In [ ]:
raw_data['income'] = pd.to_numeric(raw_data['income'], errors='coerce')
raw_data['year_birth'] = pd.to_numeric(raw_data['year_birth'], errors='coerce')
raw_data['age'] = 2025 - raw_data['year_birth']
raw_data['age'] = raw_data['age'].astype(int)

visual checking for datatypes after fixing

In [ ]:
print("\nCleaned Data Types:\n", raw_data.dtypes)

Cleaned Data Types:
 id                              int64
year_birth                      int64
education                      object
marital_status                 object
income                        float64
kidhome                         int64
teenhome                        int64
dt_customer            datetime64[ns]
recency                         int64
mntwines                        int64
mntfruits                       int64
mntmeatproducts                 int64
mntfishproducts                 int64
mntsweetproducts                int64
mntgoldprods                    int64
numdealspurchases               int64
numwebpurchases                 int64
numcatalogpurchases             int64
numstorepurchases               int64
numwebvisitsmonth               int64
acceptedcmp3                    int64
acceptedcmp4                    int64
acceptedcmp5                    int64
acceptedcmp1                    int64
acceptedcmp2                    int64
complain                        int64
z_costcontact                   int64
z_revenue                       int64
response                        int64
age                             int64
dtype: object

In [ ]:
print("\nCleaned Data (first 5 rows):\n", raw_data.head(20))

Cleaned Data (first 5 rows):
       id  year_birth   education  ... z_revenue  response  age
0   5524        1957  graduation  ...        11         1   68
1   2174        1954  graduation  ...        11         0   71
2   4141        1965  graduation  ...        11         0   60
3   6182        1984  graduation  ...        11         0   41
4   5324        1981         phd  ...        11         0   44
5   7446        1967      master  ...        11         0   58
6    965        1971  graduation  ...        11         0   54
7   6177        1985         phd  ...        11         0   40
8   4855        1974         phd  ...        11         1   51
9   5899        1950         phd  ...        11         0   75
10  1994        1983  graduation  ...        11         0   42
11   387        1976       basic  ...        11         0   49
12  2125        1959  graduation  ...        11         0   66
13  8180        1952      master  ...        11         0   73
14  2569        1987  graduation  ...        11         0   38
15  2114        1946         phd  ...        11         1   79
16  9736        1980  graduation  ...        11         0   45
17  4939        1946  graduation  ...        11         0   79
18  6565        1949      master  ...        11         0   76
19  2278        1985    2n cycle  ...        11         0   40

[20 rows x 30 columns]

saving cleaned data to CSV Cleaned Data.csv

In [ ]:
cleaned_data = raw_data
cleaned_data.to_csv(r"C:\Users\shant\OneDrive\Desktop\Intern\Customer Personality Analysis Data\Cleaned Data.csv", index = False)

Traceback (most recent call last):
  File "c:\Users\shant\.vscode\extensions\ms-python.python-2025.2.0-win32-x64\python_files\python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2
    cleaned_data.to_csv("C:\Users\shant\OneDrive\Desktop\Intern\Customer Personality Analysis Data\Cleaned DAta.csv", index = False)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape

In [ ]:

cleaned_data.head(10)

     id  year_birth   education  ... z_revenue  response  age
0  5524        1957  graduation  ...        11         1   68
1  2174        1954  graduation  ...        11         0   71
2  4141        1965  graduation  ...        11         0   60
3  6182        1984  graduation  ...        11         0   41
4  5324        1981         phd  ...        11         0   44
5  7446        1967      master  ...        11         0   58
6   965        1971  graduation  ...        11         0   54
7  6177        1985         phd  ...        11         0   40
8  4855        1974         phd  ...        11         1   51
9  5899        1950         phd  ...        11         0   75

[10 rows x 30 columns]